<extend name="common/layout"/>
<block name='style'>
</block>
<block name="main-body">
    <form class="ui form" onsubmit="return false">
    <input type="hidden" name="type" value="wecha">  
        <div class="inline field">
            <label>APP ID</label>
            <input type="text" class="status" value="{$data.appid?$data.appid:'';}" name="appid" placeholder="请输入">
        </div>
        <div class="inline field">
            <label>AppSecret</label>
            <input type="text" class="status" value="{$data.secret?$data.secret:''}" name="appsecret" placeholder="请输入">
        </div>
        <div class="inline field" style="text-align: center">
            <button class="ui red button" id="sub" disabled onclick="return false;" type="submit">提交</button>
        </div>
        
    </form>
</block>
<block name="script">
    <script type="text/javascript">
        $('.status').change(function(){
            $('#sub').removeAttr('disabled');

        })

        $('#sub').click(function () {
            var data = $('.ui.form').serialize();
            $.ajax({
                url: "{:url('admin/Configure/doit')}",
                data: data,
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        $('#sub').attr('disabled','disabled');
                        sAlert.success(data.info)
                    } else {
                        sAlert.error(data.info)
                    }
                },
                error: function () {
                    sAlert('网络错误！');
                }
            });
        })


        //导航高亮
        highlight_subnav("{:request()->server('PHP_SELF')}");
    </script>
</block>