<extend name="common/layout"/>
<block name="style">
    <style>
    </style>
</block>
<block name="main-body">
    <form method="post" class="ui form mini">
        <div class="inline field">
            <label>用户名</label>
            <input type="text" name="name" placeholder="用户名">
        </div>
        <div class="inline field">
            <label>手机号</label>
            <input type="text" name="phone" placeholder="手机号">
        </div>
        <div class="inline field">
            <label>邮箱</label>
            <input type="text" name="email" placeholder="邮箱">
        </div>
        <div class="inline field">
            <label>密码</label>
            <input type="password" name="password" placeholder="密码">
        </div>
        <div class="inline field">
            <label></label>
            <button class="ui button ajax-post mini blue" id="submit" onclick="return false;"
                    data-url="{:url('admin/User/save')}">保存
            </button>
            <button class="ui button mini" onclick="history.back(-1);return false;">返回</button>
        </div>
    </form>
</block>
<block name="script">
    <script>
        $(function () {
            highlight_subnav("{:url('admin/user/index')}");
        });
    </script>
</block>