<extend name="common/layout"/>
<block name="style">
</block>
<block name="main-body">
    <div class="ui warning message">
        <div class="header" style="text-align: center">
            <i class="remove circle icon huge"></i></br>
            {$msg}
        </div>
        <p style="text-align: center;margin-top: 200px">
            <a href="javascript:history.back(-1);" role="button" class="ui button positive">返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</a>
        </p>
    </div>
</block>
<block name="script">
</block>