<extend name="common/layout"/>
<block name="style">
    <style>
    </style>
</block>
<block name="main-body">
    <form method="post" class="ui form mini">
        <div class="inline field">
            <label>场地名称</label>
            <input type="text" name="name">
        </div>
        <div class="inline field">
            <label>场地类型</label>
            <select class="ui dropdown" name="type">
                <option value="1" >自习室</option>
                <option value="2" >运动场馆</option>
                <option value="3" >会议室</option>
            </select>
        </div>
        <div class="inline field">
            <label>说明</label>
            <textarea name="info"></textarea>
        </div>
        <div class="inline field">
            <label></label>
            <button class="ui button ajax-post mini positive" id="submit" onclick="return false;"
                    data-url="{:url('admin/Place/save')}">确定
            </button>
            <button class="ui button mini" onclick="history.back(-1);return false;">返回</button>
        </div>
    </form>
</block>
<block name="script">
    <script>
        $(function () {
            highlight_subnav("{:url('admin/Place/index')}");
        });
    </script>
</block>