<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>欢迎您登陆邀伴儿后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/SemanticUI/semantic.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="__STATIC__/sweetalert/sweetalert.min.css" media="all">
    <style>
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px !important;
            margin-bottom: 60px !important;
        }
        .column {
            max-width: 400px;
        }
        .logo{
            height: 120px;
            width: 190px;
            margin: 0 auto
        }
    </style>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="logo">
                <img src="__STATIC__/Admin/image/logo.png" alt="">
            </div>
            <!--<div class="content">网络改变大学生活</div>-->
        </h2>
        <form class="ui large form" autocomplete="off">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="phone" placeholder="用户名">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="密码">
                    </div>
                </div>
                <button class="ui fluid large teal button ajax-post" onclick="return false;" action="{:url('admin/Login/login')}">确 定 登 录</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-3.2.1.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="__STATIC__/SemanticUI/semantic.min.js"></script>
<script type="text/javascript" src="__STATIC__/Admin/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/sweetalert/sweetalert.min.js"></script>
</body>
</html>
